body {
  background-color: #330000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.44'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  /* border: 2px solid green; */
}

.desktop {
  position: relative;
  padding: 10px;
}

.header {
  text-align: center;
  background: #1abc9c;
  color: white;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #330000;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
}

.menubar {
  overflow: hidden;
  background-color: #1b507c;
  touch-action: none;
  user-select: none;
}

.menubar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
  touch-action: none;
  user-select: none;
}

.navbar a.right {
  float: right;
  padding: 12px 14px;
}

.desktop-grid-container {
  padding: 5px;
}

.icon-container {
  width: 150px;
}

.icon-container button {
  font-size: 25px;
  padding-left: 0;
  padding: 10px;
  width: 100%;
  background: transparent;
  color: #fff;
  font-weight: bold;
  border:0;
}

.windows-grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #1b507c;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.desktop button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 13px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  cursor: move;
}

p {
  font-size: 12px;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  content: left;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
  float: right;
}

.setdropdown {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */

.setdropdown:hover,
.setdropdown:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */

.setdropdown {
  position: relative;
  display: inline-block;
}

.recyclebin-window-style {
  left: 100px;
  top: 100px;
}

/* Dropdown Content (Hidden by Default) */

.setdropdown-content {
  display: none;
  position: absolute;
  margin: 10px;
  background-color: #eaeff5;
  border-radius: 5px;
  min-width: 500px;
  min-height: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  resize: both;
  overflow: auto;
}
/* Links inside the dropdown */

.setdropdown-content a {
  color: black;
  margin-top: 10px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
  display: block;
}

#source container {
  position: fixed;
}
#windowDropdown {
  display: none;
  position: absolute;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 40%;
  height: 80%;
  margin: 50px;
  border-radius: 5px;
  background-color: #fff;
  resize: se-resize;
  touch-action: none;
  user-select: none;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  float: left;
  width: 50%;
  height: 100%;
  margin: 10px;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}



.inputSection {
  margin: 5px;
}
textarea {
  width: 92%;
  height: 100%;
  padding: 20px;
}

#calc,
#cal {
  display: none;
  overflow: hidden;
  margin: auto;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  cursor: se-resize;
}
.inputSection {
  position: relative;
}
.word-header {
  padding: 1px 10px;
  background-color: #2980b9;
  color: white;
  text-align: center;
}

.word-body {
  padding: 2px 16px;
}
.word-content {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  touch-action: none;
  user-select: none;
}
.icons {
  align-content: space-between;
  justify-content: space-between;
}

/* The Close Button */

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.minimize {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.maximize {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.minimize:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
  background: rgb(219, 219, 219);
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
  background: rgb(219, 219, 219);
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  touch-action: none;
  padding: 10px;
  user-select: none;
  background-color: #f4f4f4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 10; 
  font-weight: bold;
}

.window-body {
  padding: 2px 16px;
}

.window-content {
  display: none;
  position: absolute;
  cursor: move;
  z-index: 9; 
  left: 300px;
  top: 0;
  width: 40%;
  height: 40%;
  margin: 50px;
  border-radius: 5px;
  background-color: #fff;
  resize: both;
  overflow: auto;
  min-width: 300px;
  min-height: 300px;
}
.window-tab{
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 200px;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
  position: relative;
  color: #fff;
  background-color: #000
}
